<?xml version="1.0" encoding="ISO-8859-1"?>
 
<plugin name="hibiscus.scripting.htmlunit" version="2.12"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.willuhn.de/schema/jameica-plugin-1.3.xsd">
 
  <description>HTMLUnit für Hibiscus-Scripting</description>
  <homepage>http://htmlunit.sourceforge.net/</homepage>
  <url>http://scripting-updates.derrichter.de/htmlunit/hibiscus.scripting.htmlunit.zip</url>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>
 
  <requires jameica="2.4.0+">
    <import plugin="hibiscus" version="2.4.0+" />
    <import plugin="jameica.scripting" version="2.5.0+" />
  </requires>
 
  <messaging>
    <message queue="jameica.scripting.add">
      <![CDATA[
        ${manifest.pluginDir}/hibiscus.scripting.htmlunit.js
      ]]>
    </message>
  </messaging>
</plugin>