#parse("includes/header.vm")
#set($cert = $certificate.getDetails($request.getParameter("cert")))

<script type="text/javascript">
  function doDelete(v)
  {
    if (!window.confirm("Sicher?"))
      return;

    location.href="cert.html?action=delete&sha1=" + v;
  }
  function doDownload(v)
  {
    location.href="cert.html?action=download&sha1=" + v;
  }
</script>

<div id="breadcrumbs">
  <a href="/webadmin/">Home</a>
  &raquo;
  <a href="cert.html?cert=$cert.cert.sha1">Zertifikat</a>
</div>

<h2>Details des Zertifikats</h2>

<table class="data">
  <tr>
    <th>Name</th>
    <th>Wert</th>
  </tr>
  <tr>
    <td>Ausgestellt für</td>
    <td>
      <table>
        <tr><td>distinguished name</td><td>$cert.subject.DN</td></tr>
        <tr><td>common name</td><td>$cert.subject.CN</td></tr>
        <tr><td>organization</td><td>$cert.subject.O</td></tr>
        <tr><td>organizational unit</td><td>$cert.subject.OU</td></tr>
        <tr><td>locality</td><td>$cert.subject.L</td></tr>
        <tr><td>state</td><td>$cert.subject.ST</td></tr>
        <tr><td>country</td><td>$cert.subject.C</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>Ausgestellt von</td>
    <td>
      <table>
        <tr><td>distinguished name</td><td>$cert.issuer.DN</td></tr>
        <tr><td>common name</td><td>$cert.issuer.CN</td></tr>
        <tr><td>organization</td><td>$cert.issuer.O</td></tr>
        <tr><td>organizational unit</td><td>$cert.issuer.OU</td></tr>
        <tr><td>locality</td><td>$cert.issuer.L</td></tr>
        <tr><td>state</td><td>$cert.issuer.ST</td></tr>
        <tr><td>country</td><td>$cert.issuer.C</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>Gültigkeit</td>
    <td>$cert.valid.from - $cert.valid.to</td>
  </tr>
  <tr>
    <td>Seriennummer</td>
    <td>$cert.cert.serial</td>
  </tr>
  <tr>
    <td>Fingerabdruck</td>
    <td>
      <table>
        <tr><td>SHA1</td><td>$cert.cert.sha1</td></tr>
        <tr><td>MD5</td><td>$cert.cert.md5</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="footer">
      <a title="Zertifikat löschen" href="javascript:doDelete('$cert.cert.sha1')"><img src="img/user-trash-full.png" width="16" height="16" border="0" style="margin-right: 5px">Löschen...</a>
      <a title="Zertifikat herunterladen" href="javascript:doDownload('$cert.cert.sha1')"><img src="img/document-save.png" width="16" height="16" border="0" style="margin-right: 5px">Speichern...</a>
    </td>
  </tr>
</table>

#parse("includes/footer.vm")
