<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin name="jameica.scripting" version="2.5.0" class="de.willuhn.jameica.scripting.Plugin"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.willuhn.de/schema/jameica-plugin-1.2.xsd">

  <description>Scripting-Support für Jameica</description>
  <url>https://www.willuhn.de/products/jameica/releases/nightly/jameica.scripting-2.5.0-nightly.zip</url>
  <homepage>http://www.willuhn.de/products/jameica/extensions.php#jameica.scripting</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="2.3.0+" />

  <classfinder>
    <include>jameica\.scripting\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <services>
    <service name="scripting" autostart="true" class="de.willuhn.jameica.scripting.services.ScriptingService"/>
  </services>
  
  <extensions>
    <extension class="de.willuhn.jameica.scripting.ext.jameica.SettingsView"
               extends="de.willuhn.jameica.gui.internal.views.Settings" />
  </extensions>
  
  <messaging>
    <consumer queue="jameica.scripting.add"    class="de.willuhn.jameica.scripting.messaging.AddScriptMessageConsumer" />
    <consumer queue="jameica.scripting.remove" class="de.willuhn.jameica.scripting.messaging.RemoveScriptMessageConsumer" />
  </messaging>
</plugin>


