<script type="text/javascript">
  function doUpload()
  {
    if (!document.form_upload.elements.filename.value)
      return;
    document.form_upload.submit();
  }

  function doDelete(v)
  {
    if (!window.confirm("Sicher?"))
      return;

    location.href="cert.html?action=delete&sha1=" + v;
  }
  function doDownload(v)
  {
    location.href="cert.html?action=download&sha1=" + v;
  }
</script>

<h2>Installierte Zertifikate</h2>
<table class="data">
  <tr>
    <th>Ausgestellt für</th>
    <th>Ausgestellt von</th>
    <th>Gültigkeit</th>
    <th style="width:10%">Aktion</th>
  </tr>
  #set($list = $certificate.list)
  #if($list.length() > 0)
    #set($size = $list.length() - 1)
    #foreach($i in [0..$size])
      #set($line = $list.get($i))
      <tr onmouseover="change_to(this);" onmouseout="change_back(this);">
        <td><a title="Klicken für Details" href="cert.html?cert=$line.cert.sha1">$line.subject.CN</a></td>
        <td>$line.issuer.CN</td>
        <td>$line.valid.from - $line.valid.to</td>
        <td>
          <a title="Zertifikat löschen" href="javascript:doDelete('$line.cert.sha1')"><img src="img/user-trash-full.png" width="16" height="16" border="0" style="margin-right: 5px">Löschen...</a>
          <a title="Zertifikat herunterladen" href="javascript:doDownload('$line.cert.sha1')"><img src="img/document-save.png" width="16" height="16" border="0" style="margin-right: 5px">Speichern...</a>
        </td>
      </tr>
    #end
  #end
  <tr>
    <td colspan="4" class="footer">
      <form method="post" action="cert.html" name="form_upload" enctype="multipart/form-data" style="margin:0px">
        neues Zertifikat importieren
        <input type="file" name="filename" onchange="javascript:doUpload()" />
      </form>
    </td>
  </tr>
</table>
