<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin name="hibiscus.xmlrpc" version="2.7.0" class="de.willuhn.jameica.hbci.xmlrpc.Plugin"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.willuhn.de/schema/jameica-plugin-1.0.xsd">

  <description>Meta-Plugin, welches Hibiscus um XML-RPC-Funktionalitaet erweitert</description>
  <url>https://www.willuhn.de/products/hibiscus/releases/nightly/hibiscus.xmlrpc-2.7.0-nightly.zip</url>
  <homepage>http://www.willuhn.de/products/hibiscus</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="2.6.0+">
    <import plugin="jameica.xmlrpc" version="2.6.0+"/>
    <import plugin="hibiscus"       version="2.6.0+"/>
  </requires>

  <classfinder>
    <include>hibiscus\.xmlrpc\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <services>
    <service name="address"                depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.AddressService" />
    <service name="konto"                  depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.KontoService" />
    <service name="umsatz"                 depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.UmsatzService" />
    <service name="ueberweisung"           depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.UeberweisungService" />
    <service name="lastschrift"            depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.LastschriftService" />
    <service name="sammellastschrift"      depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.SammelLastschriftService" />
    <service name="sammelueberweisung"     depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.SammelUeberweisungService" />
    <service name="sepaueberweisung"       depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.SepaUeberweisungService" />
    <service name="sepalastschrift"        depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.SepaLastschriftService" />
    <service name="sepasammellastschrift"  depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.SepaSammelLastschriftService" />
    <service name="sepasammelueberweisung" depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.SepaSammelUeberweisungService" />
  </services>
</plugin>

