<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin name="jameica.webadmin" version="2.7.0" class="de.willuhn.jameica.webadmin.Plugin"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.willuhn.de/schema/jameica-plugin-1.0.xsd">


  <description>Plugin, um Jameica mittels Embedded HTTP-Server administrieren zu koennen</description>
  <url>https://www.willuhn.de/products/jameica/releases/nightly/jameica.webadmin-2.7.0-nightly.zip</url>
  <homepage>http://www.willuhn.de/products/jameica/extensions.php#jameica.webadmin</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="2.6.0+"/>

  <classfinder>
    <include>jameica\.webadmin\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <services>
    <service name="listener.http"  depends=""              autostart="true" class="de.willuhn.jameica.webadmin.rmi.HttpService" />
    <service name="rest"           depends="listener.http" autostart="true" class="de.willuhn.jameica.webadmin.rmi.RestService" />
  </services>

  <extensions>
    <extension class="de.willuhn.jameica.webadmin.ext.jameica.SettingsView"
             extends="de.willuhn.jameica.gui.internal.views.Settings"/>
  </extensions>

</plugin>

