body
{
  background-image        : url("/webadmin/img/panel-reverse.gif");
  background-repeat       : repeat-x;
  margin                  : 10px;
  font-family             : Tahoma, Arial, Verdana, Geneva, Helvetica, Sans;
  font-size								: 8.5pt;
}

p,h1,h2,h3,h4,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
  font-family             : Tahoma, Arial, Verdana, Geneva, Helvetica, Sans;
  font-size								: 8.5pt;
}

table {
}
th {
  text-align               : left;
}
td {
  vertical-align           : top;
  text-align               : left;
}

ol,ul {
  list-style-position      : outside;
  margin-top               : 5px;
  margin-bottom            : 10px;
}

ul {
  list-style-type          : disc;
}

li {
  margin                    : 20px;
}

h1 {
  color                    : #d76B00;
  font-weight              : bold;
  font-size                : 11pt;
  margin-top               : 10px;
}

h2 {
  color                    : #909090;
  font-weight              : bold;
  font-size                : 10pt;
  margin-top               : 10px;
}

h3 {
  color                    : #000000;
  border-left              : 1px solid #d76B00;
  background               : #f9f9f9;
  padding-left             : 10px;
  font-weight              : normal;
  font-size                : 8.5pt;
  margin-top               : 5px;
}

pre {
  font-family              : "DejaVu Sans Mono", "BitStream Vera Sans Mono", "Terminal [DEC]", "Courier New", "Courier";
  font-size                : 8.0pt;
  margin                   : 1px;
}

a:link  {
  color                    : #000088;
  text-decoration          : none;
}

a:visited  {
  color                    : #000088;
  text-decoration          : none;
}

a:hover {
  color                    : #0000dd;
  text-decoration          : none;
}

a:active {
  color                    : #0000dd;
  text-decoration          : none;
}

a:focus {
  color                    : #0000dd;
  text-decoration          : none;
}

a.external,a:link.external, a:visited.external,a:active.external,a:focus.external {
  padding-right            : 13px;
  background               : url('/webadmin/img/external.png') center right no-repeat;
}

table.data {
  width                    : 100%;
  border                   : 1px solid #a5a5a5;
}

table.data th {
  background-image         : url("/webadmin/img/panel-blue.gif");
  background-repeat        : repeat-x;
  color                    : #ffffff;
  padding                  : 1px 4px 1px 5px;
  text-align               : left;
  font-weight              : normal;
  border                   : none;
}
table.data tr {
  background               : #F7F7F0;
  color                    : #505050;
}
table.data tr.highlight {
  background               : #F7E9CB;
  color                    : #000090;
}

table.data tr.locked {
  background               : #F7F7F0;
  color                    : #C5C5C0;
}

table.data td {
  padding                  : 1px;
  text-align               : left;
  vertical-align           : top;
}

table.data td.filter {
  padding                  : 1px 4px 1px 5px;
  background               : #fbfbfb;
  background-image         : url('/webadmin/img/panel-gray-reverse.gif');
  background-repeat        : repeat-x;
  text-align               : left;
  vertical-align           : top;
}

table.data td.footer {
	color                    : #999999;
  padding                  : 1px 4px 1px 5px;
  background-color         : #d0d0d0;
  background-image         : url('/webadmin/img/panel-gray.gif');
  background-repeat        : repeat-x;
  text-align               : right;
  vertical-align           : top;
}

#breadcrumbs {
  border-top               : 1px solid #d76B00;
  background               : #f9f9f9;
  padding-left             : 5px;
  color                    : #000088;
}

span.small {
	font-size                : 8pt;
}

div.note {
	margin                   : 5px 0px 5px 0px;
  padding                  : 1px 5px 1px 5px;
  border                   : 1px solid #E0E0E0;
  color                    : #800000;
	font-size                : 8pt;
}


ul.navi {
  border                   : 1px solid #d6d6d6;
  padding                  : 0px;
  background-color         : #ffffff;
}

* html ul.navi {  /* Korrekturen fuer IE 5.x */
  padding                  : 0px;
  padd\ing                 : 0px;
}


ul.navi li {
  list-style               : none;
  padding                  : 0px;
  margin                   : 0px;
}

ul.navi a {
  display                  : block;
  padding                  : 2px 10px 2px 10px;
  background-color         : #fafafa;
  text-decoration          : none;
  border-top               : 1px solid #ffffff;
}

* html ul.navi a {  /* Breitenangaben nur fuer IE */
  width                    : 100%;
  w\idth                   : 178px;
}

ul.navi a:hover {
  border-top               : 1px solid #dadada;
  color                    : #d76B00;
  background-color         : #f3f3f3;
}





/* js navigation tree */
.dtree {
  font-family             : Sans, Verdana, Helvetica, Arial;
  white-space             : nowrap;
}

.dtree img {
  border                  : 0px;
  vertical-align          : middle;
}

.dtree a.node, .dtree a.nodeSel {
  white-space             : nowrap;
  padding                 : 1px 2px 1px 2px;
}

.dtree a.nodeSel {
  color                   : darkblue;
  /* background-color        : #c0d2ec; */
  font-style              : bold;
}

.dtree .clip {
  overflow                : hidden;
}

